.info__box-wrapper{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.info__box{
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 280 / 1200 * 100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.info__box:last-child{
    margin-right: 0;
}

@media screen and (max-width: 825px) {
    .info__box{
        width: 45%;
        margin-bottom: 20px;
    }
    .info__box:nth-child(2){
        margin-right: 0;
    }
}
@media screen and (max-width: 624px) {
    .info__box{
        width: 100%;
        margin-bottom: 20px;
    }
    .info__box:nth-child(odd){
        margin-right: 0;
    }
}